<a href="https://colab.research.google.com/github/mhdSharuk/Data-Science-Bowl-2K19/blob/master/DSB_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 28445)
import numpy as np
import os
import gc
import matplotlib.pyplot as plt
from tqdm import tqdm_notebook
import json

In [0]:
specs = pd.read_csv('/content/drive/My Drive/specs.csv')
train_labels = pd.read_csv('./drive/My Drive/train_labels.csv.zip')
train = pd.read_csv('./drive/My Drive/train.csv.zip')
test = pd.read_csv('./drive/My Drive/test.csv.zip')
sub = pd.read_csv('./drive/My Drive/sample_submission.csv')

In [6]:
train_labels.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [0]:
train_data = train[(train['event_code']==4100) | (train['event_code']==4110)]

In [0]:
test_data = test[(test['event_code']==4100) | (test['event_code']==4110)]

In [33]:
train_data.groupby(['game_session','installation_id'],as_index =False)['title'].agg({'value_counts'}).rename(columns={'value_counts':'Total_no'}).head()

                                                               Total_no
game_session     installation_id title
00020f3bd042b3f0 342be259        Air Show                             5
0006663578b58ced 4d7392c0        Pan Balance                          3
00097cda27afb726 01bdd720        Mushroom Sorter (Assessment)         1
000c5c7922b79d57 1edecf49        Pan Balance                          5
000f68cff32664ef 3f0dca37        Chest Sorter (Assessment)            6

In [31]:
test_data.groupby(['game_session','installation_id'])['title'].agg({'value_counts'}).rename(columns={'value_counts':'Total_no'}).index.get_level_values(3)

IndexError: ignored

In [28]:
sub.head(10)

  installation_id  accuracy_group
0        00abaee7               3
1        01242218               3
2        017c5718               3
3        01a44906               3
4        01bc6cb6               3
5        02256298               3
6        0267757a               3
7        027e7ce5               3
8        02a29f99               3
9        0300c576               3